{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Tasks
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>


  {% if task_list %}
    <table class="table">
      <tr>
        <th>Content</th>
        <th>Done</th>
        <th>Created</th>
        <th>Deadline</th>
        <th>Tags</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for task in task_list %}
        <tr>
          <td>
              {{ task.content }}
          </td>
          <td>
              {{ task.done }}
          </td>
          <td>
              {{ task.created_at }}
          </td>
          <td>
              {{ task.deadline }}
          </td>
          <td>
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% endfor %}
          </td>
          <td>
              <a href="{% url 'todo:task-update' pk=task.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'todo:task-delete' pk=task.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no tasks found.</p>
  {% endif %}
{% endblock %}
